[submodule "ApostolicD/apostolic-dev/ApostolicD/apostolic-dev/apostolic-dev"]
	path = ApostolicD/apostolic-dev/ApostolicD/apostolic-dev/apostolic-dev
	url = https://github.com/SainoSolutions/apostolic-dev.git
